/vendor/
/build/
/build.local
/.php_cs.cache
/phpda.svg
/.idea/
/nbproject/
/composer
/phpunit.xml
.DS_Store
Thumbs.db
Tests/Fixtures/TestProject/web/bundles
Tests/Fixtures/TestProject/cache
Tests/Fixtures/TestProject/logs
Tests/Fixtures/TestProject/ProjectBundle/DataFixtures
Tests/Fixtures/TestProject/ProjectBundle/EntityTests/Fixtures/TestProject/web/bundles
Tests/Fixtures/TestProject/cache
Tests/Fixtures/TestProject/logs
Tests/Fixtures/TestProject/ProjectBundle/DataFixtures
Tests/Fixtures/TestProject/ProjectBundle/Entity